/* sizing */
body{font-size:.9rem;}
h3.card-title{font-size: 1rem;line-height: 1rem;}
.bg-secondary-light h3.card-title{line-height: 2rem;}
h3.timeline-header{font-size: 1rem;line-height: 1rem;}
.content-header h1{font-size: 1.4rem;}
table{font-size: .85rem;}
.btn{font-size: .9rem;}
.small-box h3{font-size: 1.2rem ! important;}
.form-control{font-size: .9rem;height:auto;}
.custom-select{font-size: .9rem;height:auto;}
@media(min-width:996px)
{
    .small-box h3{font-size: 1.5rem ! important;}
}

.truncate {
    display:inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: horizontal;
  font-size: .8rem;
}

.select2-container--bootstrap4 .select2-selection--multiple{min-height:1rem ! important;}
.select2-container--default .select2-selection--single{min-height:2rem ! important;}
.select2-container--default .select2-selection--single{height:2.13rem ! important;}
/* .select2-container--default .select2-selection--single */

.img-bg-fff{background: #fff;}
/* logo */
.brand-link{height: 55px;padding:0;background: #fff;}
aside a img{width:100%; height:auto; max-height: 50px;text-align: center;margin-left: auto;margin-right:auto; display:block; }
.brand-link .brand-image{display:block;text-align: center;margin-left: auto;margin-right:auto;float:none;max-height:50px; margin-bottom:3px;padding-top:10px;}

/* general */
/* a.defaultColor{color:#212529;} */
.fs14{font-size: 14px;}
.editable:hover{cursor:pointer;}
.psmb p{margin-bottom: 0!important;}
.card-header-sm{padding-top:.2rem; padding-bottom: .2rem;}
.pagination{display:inline-flex;}
.dataTables_wrapper{width:100%}
.tbr0{border-top-left-radius:0;border-bottom-left-radius:0;}
.bg-secondary-light{background-color: rgb(0,0,0,.1);}
.card-header.bg-secondary-light{border-bottom: 1px solid rgb(0,0,0,.05);}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link{
background-color: inherit;
    color: #c2c7d0;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {margin-left: 30px;}


.custom-control-input:checked~.custom-control-label.saldato::before {
    border-color: #019222;
    background-color: #019222;
}


/* table.table-font-xs{font-size: .9rem!important;} */
.table tr th, .table tr td{vertical-align: middle;}
.card-title{line-height: 2rem;}
.table-php tr th{position:relative}
.table-php tr th i{position:absolute;right:4%;top:25%;}
.table tr td.editable:hover{cursor:pointer;}
#table_wrapper{width:100%;}
.table thead.btnone tr th{border-top-color:transparent; border-right-color:transparent; border-left-color:transparent;}

/* datatables */
.page-link{line-height:1;padding:.3rem .5rem;font-size:.85rem;margin-top:.5rem;}
div.dataTables_wrapper div.dataTables_info{font-size:.85rem}
.dataTables_filter label input{border:none; border-bottom:1px solid #ced4da;border-radius:0;}
@media(min-width:996px){
    .page-link{line-height:1;padding:.5rem;font-size:.95rem;margin-top:0;}
    div.dataTables_wrapper div.dataTables_info{font-size:.95rem}
}


.avatar-sm{display:inline-block;margin-left:auto; margin-right: auto;background-color: #28a745;border-radius: 100px;color:#fff;width: 30px;height:30px;font-weight: bolder;padding:6px 0; text-align: center;font-size: 12px;}
.avatar-sm.boss{background-color: #007bff;}
.avatar{margin-left:auto; margin-right: auto;background-color: #007bff;border-radius: 100px;color:#fff;width: 50px;height:50px;font-weight: bolder;padding:14px 0; text-align: center;}

.profile-username {font-weight: 400;}


.card-info:not(.card-outline)>.card-header {
    background-color: #17a2b8;
}
.card-info:not(.card-outline)>.card-header, .card-info:not(.card-outline)>.card-header a {
    color: #fff;
}
.card-info.card-outline {
    border-top: 3px solid #17a2b8;
}


.w100{width:100%;}
.w70{width:70%;}
.w60{width:60%;}
.w40{width:40%;}
.w50{width:50%;}
.w10{width:10%;}
.w9{width:9%;}
.w8{width:8%;}



/* fatture & prodotti */

.custom-control-label.saldato::before{
    background-color: #dc3545;
    border: #dc3545;
}
.custom-switch .custom-control-label.saldato::after{background-color: #fff;}

.abs{position:absolute;}
.plus{top: 20%;right: -5px;}
.input-group-text-sm{padding: .375rem .25rem;font-size:13px;}
.xl-ml-5{margin-left:0;}
@media(min-width:1198px)
{
    .xl-ml-5{margin-left:-5px;;}
}


.label-info {display: inline;padding: .3em .6em;font-size: 75%;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;background-color: #007bff;}
.bootstrap-tagsinput {padding: 4px 8px;background-color: #fff;border: 1px solid #ccc;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);display: inline-block;color: #555;vertical-align: middle;border-radius: 4px;width: 100%;height: calc(2.25rem + 2px);cursor: text;}
.bootstrap-tagsinput input {line-height: 1.5;border: none;box-shadow: none;outline: none;background-color: transparent;padding: 0 6px;margin: 0;width: auto;height: calc(2.25rem + 2px);padding: .375rem .75rem; margin-top:-4px;}
.bootstrap-tagsinput.form-control input::-moz-placeholder {color: #777;opacity: 1;}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {color: #777;}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {color: #777;}
.bootstrap-tagsinput input:focus {border: none;box-shadow: none;}
.bootstrap-tagsinput .tag {margin-right: 2px;color: white;}
.bootstrap-tagsinput .tag [data-role="remove"] {margin-left: 8px;cursor: pointer;}
.bootstrap-tagsinput .tag [data-role="remove"]:after {content: "x";padding: 0px 2px;}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}


#autoComplete_wrapper {position: relative;display: inline-block}
#autoComplete {font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";position: relative;padding: .375rem .75rem;width: 100%;outline: 0;border-radius: .25rem;border: 1px solid #ced4da;caret-color: #212529;color: #212529;width:70%;transition: all .4s ease;-webkit-transition: all -webkit-transform .4s ease;text-overflow: ellipsis}
#autoComplete::placeholder {color: #777;transition: all .3s ease}
#autoComplete:hover::placeholder {color: #999;}
#autoComplete:focus::placeholder {color: #999;}
#autoComplete::selection {color: transparent}
#autoComplete:focus::selection {color: #fff;background-color:#212529}
#autoComplete:focus {color: #212529;}
#autoComplete_list {position: absolute;z-index: 1000;padding: 0;width: auto;transition: all .1s ease-in-out;-webkit-transition: all -webkit-transform .1s ease}
.autoComplete_result {margin: auto;padding: .3rem .6rem;border: .05rem solid #afafaf;list-style: none;text-align: left;font-size: 1.1rem;color: #212529;transition: all .1s ease-in-out;background-color: #e8e8e8}
.autoComplete_result::selection {color: rgba(#fff, 0);background-color: rgba(#fff, 0)}
.autoComplete_result:hover {cursor: pointer;background-color: #007bff;color:#fff;border-top: 2px solid transparent;border-bottom: 2px solid transparent}
.autoComplete_result:focus {outline: 0;background-color: #007bff;color:#fff;border-top: 2px solid transparent;border-bottom: 2px solid transparent}
.autoComplete_highlighted {opacity: 1;color: #000;font-weight: 700}
.autoComplete_highlighted::selection {color: rgba(#fff, 0);background-color: rgba(#fff, 0)}
.autoComplete_selected {cursor: pointer;background-color: #007bff;border-top: 2px solid transparent;border-bottom: 2px solid transparent; color:#fff;}
.form-group.ta{margin-bottom:0;position:relative}
.form-group.ta a.reset{position:absolute;border-bottom-left-radius: 0;border-top-left-radius: 0;right:-3px;}

.select2-container--bootstrap4 .select2-results__group {color: #000000;margin-left: 10px;}




/* RESPPONSIVE */

.btn-xxs{
    line-height: .9;
    font-size: .75rem;
    padding: .225rem .35rem;
}
.l15{line-height: 1.5 ! important;}


.btn-group-sm>.btn, .btn-sm{padding: .2rem .45rem;font-size: .7rem;line-height: 1;border-radius: .2rem;}
.text-right-if-996{text-align:center;}
@media(min-width:996px)
{
    .text-right-if-996{text-align:right;}

    .btn-group-sm>.btn, .btn-sm{padding: .25rem .5rem;font-size: .875rem;line-height: 1.5;border-radius: .2rem;}
    .spacer-xs-0{display:none;}
    .spacer-xs-1{display:none;}
    .spacer-xs-2{display:none;}
}
@media(min-width:1280px)
{

}
